@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
$veryDarkBlue: hsl(243, 87%, 12%);
$desatBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
button,
nav {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 2em;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 25%;
      img {
        width: 100%;
        display: block;
      }
    }
    nav {
      ul {
        display: flex;
        gap: 1em;
        li {
          a {
            color: $veryDarkBlue;
          }
        }
      }
    }
  }
  .bottom {
    margin-top: 6em;
    .img-wrapper {
      img {
        width: 100%;
        display: block;
      }
    }
    .text {
      margin-top: 3em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      h1 {
        font-size: 1.75em;
        line-height: 1.4;
      }
      p {
        color: $veryDarkBlue;
        padding: 0 1em;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        gap: 1em;
        input {
          padding: 1em 1.5em;
          border-radius: 0.25em;
          border: 1px solid $veryDarkBlue;
        }
        input:focus {
          outline: none;
        }
        button {
          padding: 0.75em;
          border-radius: 0.25em;
          border: none;
          color: $lightGrayishBlue;
          background-color: $brightBlue;
          font-weight: 700;
          font-size: 1em;
        }
        .error {
          position: absolute;
          top: 100%;
          left: 0;
          font-size: 1em;
          margin-top: 0.5em;
          color: red;
          display: none;
        }
        .error.show {
          display: block;
        }
        input.wrong {
          border-color: red;
        }
      }
    }
  }
}

main {
  margin-top: 3em;
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0% right 0;
  padding-top: 3.5em;
  .productive {
    background-color: $lightGrayishBlue;
    padding: 2em;
    padding-bottom: 5em;
    .img-wrapper {
      img {
        width: 100%;
        display: block;
      }
    }
    .text {
      margin-top: 6em;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      h2 {
        text-align: center;
        font-size: 1.25em;
      }
      > p {
        color: $desatBlue;
      }
      > p:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-bottom: 1px solid $moderateCyan;
        width: 49%;
        margin: 1.5em auto;
        padding-bottom: 0.5em;
        a {
          color: $moderateCyan;
        }
        img {
          width: 13%;
        }
      }
      .review {
        background-color: white;
        margin: 0 1.5em;
        padding: 1.5em 2em;
        padding-right: 0.75em;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        border-radius: 0.5em;
        box-shadow: 0 0 15px -7px $lightGray;
        > img {
          width: 7%;
        }
        p {
          font-size: 0.75em;
          line-height: 1.6;
        }
        .profile {
          display: flex;
          align-items: center;
          gap: 0.75em;
          margin-top: 0.5em;
          .img-wrapper {
            overflow: hidden;
            border-radius: 50%;
            width: 15%;
            img {
              width: 100%;
              display: block;
            }
          }
          .roles {
            p:first-child {
              font-weight: 700;
              letter-spacing: 1px;
              color: $veryDarkBlue;
            }
            p:last-child {
              font-size: 0.6em;
            }
          }
        }
      }
    }
  }
  .access {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    text-align: center;
    background-color: $desatBlue;
    color: white;
    .text {
      h2 {
        font-size: 1.25em;
        margin-bottom: 1em;
      }
      p {
        line-height: 1.6;
        padding: 0 1em;
      }
    }
    .form-group {
      display: flex;
      flex-direction: column;
      width: 75%;
      gap: 0.5em;
      * {
        padding: 1em;
        border-radius: 0.25em;
        border: none;
      }
      input::placeholder {
        opacity: 0.5;
      }
      input {
        border: 1px solid transparent;
      }
      input:focus {
        outline: none;
      }
      input.wrong {
        border-color: red;
      }
      button {
        background-color: $brightBlue;
        color: white;
        font-weight: 700;
      }
      .error {
        padding: unset;
        text-align: left;
        margin-top: -0.75em;
        display: none;
      }
      .error.show {
        display: block;
      }
    }
  }
}
footer {
  background-color: $veryDarkBlue;
  color: white;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  .links {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .address {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      .line {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      li {
        a {
          color: white;
        }
      }
    }
    .icons {
      align-self: center;
      display: flex;
      gap: 0.75em;
      margin-top: 1em;
      .icon {
        border: 1px solid white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0.35em;
      }
    }
  }
}

@media screen and (width > 425px) {
  header {
    padding: 4em 6em;
    .top {
      .logo {
        width: 15%;
      }
      nav {
        ul {
          gap: 2.5em;
          li {
            font-size: 1.25em;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: row-reverse;
      gap: 3em;
      .text {
        align-items: flex-start;
        text-align: left;
        width: 90%;
        h1 {
          font-size: 2.75em;
        }
        p {
          padding: unset;
          font-size: 1.25em;
        }
        .form-group {
          flex-direction: row;
          padding-right: 4em;
          input {
            flex-grow: 2;
            padding: 1.5em;
          }
          button {
            flex-grow: 1;
            transition: opacity 0.3s ease;
            cursor: pointer;
          }
          button:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  main {
    background-image: url(images/bg-curve-desktop.svg);
    background-position: top -5% right 0;
    .productive {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 3em;
      padding: 6em;
      .text {
        margin: unset;
        width: 100%;
        text-align: left;
        align-items: flex-start;
        h2 {
          font-size: 2.5em;
        }
        p {
          color: $veryDarkBlue;
          font-weight: 700;
          width: 75%;
        }
        p:last-of-type {
          margin: unset;
          justify-content: flex-start;
          padding-bottom: 0.25em;
          width: 25%;
          cursor: pointer;
          transition: opacity 0.3s ease;
          margin-bottom: 2em;
          img {
            width: 10%;
          }
        }
        p:last-of-type:hover {
          opacity: 0.6;
        }
        .review {
          margin: unset;
          width: 50%;
          padding-right: 2em;
          img {
            width: 5%;
          }
          p {
            width: 100%;
            font-size: 0.85em;
            padding: unset;
            margin: unset;
          }
        }
      }
    }
    .access {
      padding: 6em;
      flex-direction: row;
      justify-content: space-between;
      .text {
        text-align: left;
        width: 45%;
        h2 {
          font-size: 2.75em;
        }
        p {
          padding: unset;
          font-size: 1.25em;
        }
      }
      .form-group {
        width: 40%;
        gap: 1em;
        * {
          padding: 1.5em;
        }
        button {
          width: 45%;
          font-size: 1em;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        button:hover {
          background-color: hsl(224, 100%, 77%);
        }
      }
    }
  }
  footer {
    padding: 6em;
    .links {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 15%;
      align-items: flex-start;
      ul {
        gap: 1em;
        li {
          a {
            transition: color 0.3s ease;
          }
          a:hover {
            color: $desatBlue;
          }
        }
      }
      .icons {
        margin: unset;
        align-self: flex-start;
        .icon {
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .icon:hover {
          color: $desatBlue;
          border-color: $desatBlue;
        }
      }
    }
  }
}
